/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    background-color: #eeeeee;
}

.navbar ul {
    display: flex;
    list-style: none;

}

.navbar ul li {
    padding-right: 10px;
}

.navbar ul li a {
    color: black;
}

h1 {
    text-align: center;
}

.loading {
    height: 50px;
    width: auto;
}

.hide {
    display: none;
}

.list--wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.list--random--img img {
    height: 150px;
    width: auto;
}

.list--item {
    display: flex;
    background-color: white;
    box-shadow: 10px 10px 17px 0px rgba(250,250,250,1);
    -webkit-box-shadow: 10px 10px 17px 0px rgba(250,250,250,1);
}

.list--item--info {
    padding: 0 10px;
}

.btnComprar {
    padding: 5px 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}